@page
@model ChatApp.Areas.Identity.Pages.Account.IndexModel
@{
    ViewData["Title"] = "EmailSent";
}

<div class="alert alert-success">
    <h1>Email Sent</h1>
    <h5>An email has been sent to your email address for verification.</h5>
    <h5>Please check your email and click the verification link to activate your account.</h5>
</div>
